<%= form_with(model: [:admin, post]) do |form| %>
  <div class="two-column">
    <div class="col-one">
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name %>
        <% if post.errors[:name].present? %><p class="error"><%= "Name #{post.errors[:name][0]}" %></p><% end %>
      </div>
     <div class="form-group lexxy-content">
        <%= form.label :content %>
        <%= form.rich_textarea :content %>
        <% if post.errors[:content].present? %><p class="error"><%= "Content #{post.errors[:content][0]}" %></p><% end %>
      </div>
      <%= form.submit %>
    </div>
    <div class="col-two">
      <div class="form-group">
        <%= form.label ":publishedOn", "Published On" %>
        <%= form.date_field :publishedOn %>
        <% if post.errors[:publishedOn].present? %><p class="error"><%= "Published date #{post.errors[:publishedOn][0]}" %></p><% end %>
      </div>
      <div class="checkbox">
        <%= form.label :draft %>
        <%= form.check_box :draft %>
      </div>
    </div>
  </div>
<% end %>
