<%= form_with(model: [:admin, post], data: {
  controller: 'editor'
}) do |form| %>
  <div class="two-column">
    <div class="col-one">
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name %>
    <% if post.errors[:name].present? %><p class="error"><%= "Name #{post.errors[:name][0]}" %></p><% end %>
  </div>

  <%= form.hidden_field :content, id: "posts_content_hidden", data: {'editor-target': 'hidden_content' } %>

  <div id="posts_content"
    data-editor-target="content"
    style="background: white"
  >
  </div>
  <%
=begin%>
 <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, data: { 'editor-target': 'content' } %>
    <% if post.errors[:content].present? %><p class="error"><%= "Content #{post.errors[:content][0]}" %></p><% end %>
  </div> 
<%
=end%>



    <%= form.submit %>
    </div>
    <div class="col-two">
      <div class="form-group">
        <%= form.label ":publishedOn", "Published On" %>
        <%= form.date_field :publishedOn %>
        <% if post.errors[:publishedOn].present? %><p class="error"><%= "Published date #{post.errors[:publishedOn][0]}" %></p><% end %>
      </div>
      <div class="checkbox">
        <%= form.label :draft %>
        <%= form.check_box :draft %>
      </div>
    </div>

  </div>
<% end %>
