 
<tr>
  <div id="<%= dom_id user %>">
    <td>
      <%= user.id %>
    </td>
    <td>
      <%= user.name %>
    </td>
    <td>
      <%= user.email %>
    </td>
    <td>
      <% user.roles.each do |role| %>
        <% if role.equal?(user.roles.last) %>
          <%= role.name %>
        <% else %>
          <%= role.name %>, 
        <% end %>
      <% end %>
    </td>
    <td>
      <%= link_to 'Edit', edit_admin_user_path(user) %>
    </td>
    <td>
      <%= link_to "Destroy", admin_user_path(user), data: {
                           turbo_method: :delete,
                           turbo_confirm: "Are you sure?"
                         } %>
    </td>
  </div>
</tr>
