<!DOCTYPE html>
<html>
  <head>
    <title>Ted Martin's Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="admin">
      <div class="sidebar">
        <h3>Dashboard</h3>
        <div class="menu">
          <div class="menu-resources">
            <%= link_to "Posts", admin_posts_path %>
          </div>
          <div class="menu-settings">
            <h3>Settings</h3>
            <%= link_to "Roles", admin_roles_path %>
            <%= link_to "Users", admin_users_path %>
            <%= link_to "View Website", root_path %>
          </div>
        </div>
      </div>
      <div class="admin-content">
        <% if notice %>
          <div id="notification" onclick="hideNotification()"><%= notice %></div>
        <% end %>
        <%= yield %>
      </div>
    </div>
    <script>
      function hideNotification() {
        const notification = document.querySelector('#notification');
        notification.style.display = 'none';
      }
    </script>
  </body>
</html>
