<!DOCTYPE html>
<html>
  <head>
    <title>Ted Martin's Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="admin">
      <div class="sidebar">
        <h3>Content</h3>
        <div class="menu">
          <div class="menu-resources">
            <div class="menu-item"><%= image_tag('icons/article.svg') %><%= link_to "Posts", admin_posts_path %></div>
          </div>
          <div class="menu-settings">
            <h3>Settings</h3>
            <div class="menu-item"><%= image_tag('icons/security.svg') %><%= link_to "Roles", admin_roles_path %></div>
            <div class="menu-item"><%= image_tag('icons/users.svg') %><%= link_to "Users", admin_users_path %></div>
            <div class="menu-item"><%= image_tag('icons/website.svg') %><%= link_to "View Website", root_path, target: "_blank" %></div>
          </div>
        </div>
      </div>
      <div class="admin-content">
        <% if notice %>
          <div data-controller="hide">
            <div class="notification" data-hide-target="element"><%= notice %></div>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
